
[Desktop Entry]
Type=Action
Name[ru_RU]=Remake - Render Dependencies
Name[ru]=Remake - Render Dependencies
ToolbarLabel[ru_RU]=Remake - Render Dependencies
ToolbarLabel[ru]=Remake - Render Dependencies
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Name[ru_RU]=Default profile
Name[ru]=Default profile
Exec=remake-gui %f deps
Basenames=*.*;
Matchcase=false
SelectionCount==1
