
[Desktop Entry]
Type=Action
Name=Remake - Pack
ToolbarLabel=Remake - Pack
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Name=Default profile
Exec=remake-gui %f pack
Basenames=*.*;
Matchcase=false
SelectionCount==1
