
[Desktop Entry]
Type=Action
ToolbarLabel=Remake - Render
Name=Remake - Render
Profiles=profile-zero;

[X-Action-Profile profile-zero]
SelectionCount==1
Matchcase=false
Basenames=*.*;
Exec=remake-gui %f
Name=Default profile
