
[Desktop Entry]
Type=Action
ToolbarLabel[ru_RU]=Remake - Render
ToolbarLabel[ru]=Remake - Render
Name[ru_RU]=Remake - Render
Name[ru]=Remake - Render
Profiles=profile-zero;

[X-Action-Profile profile-zero]
SelectionCount==1
Matchcase=false
Basenames=*.*;
Exec=remake-gui %f
Name[ru_RU]=Default profile
Name[ru]=Default profile
