
[Desktop Entry]
Type=Action
Name[ru_RU]=Remake - Snapshot
Name[ru]=Remake - Snapshot
ToolbarLabel[ru_RU]=Remake - Snapshot
ToolbarLabel[ru]=Remake - Snapshot
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Name[ru_RU]=Default profile
Name[ru]=Default profile
Exec=remake-gui %f snapshot
Basenames=*.*;
Matchcase=false
SelectionCount==1
