
[Desktop Entry]
Type=Action
Name=Remake - Clean
ToolbarLabel=Remake - Clean
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Name=Default profile
Exec=remake-gui %f clean
Basenames=*.*;
Matchcase=false
SelectionCount==1
