
[Desktop Entry]
Type=Action
Name=Remake - Render Dependencies
ToolbarLabel=Remake - Render Dependencies
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Name=Default profile
Exec=remake-gui %f deps
Basenames=*.*;
Matchcase=false
SelectionCount==1
