
[Desktop Entry]
Type=Action
Name=Remake - Snapshot
ToolbarLabel=Remake - Snapshot
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Name=Default profile
Exec=remake-gui %f snapshot
Basenames=*.*;
Matchcase=false
SelectionCount==1
